// --------------------------
.ua-line-loadin{
  position: relative;
  &::after{
    content:'';
    display: block;
    position: absolute;
    top: 50%;
    // left: 0;
    width:0;
    // right: 0;
    height: 4px;
    background: map-get($color-green, '300');
    animation: uac-line-load-in 1s 0.3s ease-out;
  }
}

@keyframes uac-line-load-in {
  0% {
    // left: 0;
    width:0;
  }
  30%{
    // left:0;
    width: 100%;
  }
  35%{
    // left:0;
    width: 100%;
  }
  50%{
    // right: 0;
    width: 100%;
  }
  100% {
    right: 0;
    width: 0;
  }
}
// --------------------------
.uac-toggle-barcircle {
  float: left;
  cursor: pointer;
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px;
  /*--- make the size fit you need ---*/ 
  transform:scale(0.8);
  .uac-bottom,.uac-top{
     background: #fff;
      position: absolute;
      display: block;
      height: 2px;
      width: 36px;
      border-radius: 1px;

     transform-origin: 34px 2px;
     transform: rotate(0deg);
     transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
  }
  .uac-top{
    top: 20px;
    left: 14px;
  }
  .uac-bottom{
    top: 43px;
    left: 14px;
  }
  path,line{ 
    stroke: white;
    stroke-linecap: round;
  }
  .uac-circle {
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    margin: 0 5px;

    stroke-dasharray: 1 100 32 300;
    stroke-dashoffset: 101;
    transition: all 750ms ease;
  }
  	&.uac-close{
		.uac-top{
		transform: translateX(-4.5px) rotate(-45deg);
		}
		.uac-bottom{
		transform: translateX(-4.5px) rotate(45deg);
		}
		.uac-circle {
			stroke-dasharray: 1 100 190 300;
			stroke-dashoffset: 1;
		}
	}
	&.uac-dark{
		.uac-bottom,.uac-top{
     		background: #333;
     	}
     	path,line{ 
   			 stroke: #333;
   		}
	}
}
// ------------------------------------
.uac-words{
  display: inline-block;
  position: relative;
  text-align: left;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;

    left: 0;
    top: 0;

    &.uac-visible {
      position: relative;
    }
    i,em{
      // font-style: normal;
      font-weight: bold;
    }
  }
}
.uac-words.uac-letter-type{
  vertical-align: top;
  overflow: hidden;
  padding-right: 0.1em;
  &::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    bottom:0 ;
    height: 90%;
    width: 2px;
    background-color: rgba(255,255,255,0.9);
  }
  &.uac-waiting::after {
    animation:uac-pulse 1s infinite;
  } 

  &.uac-selected {
    background-color: map-get($color-blue,'200');//rgba(0,88,180,0.5)
    &::after {
      visibility: hidden;
    }

    b {
      color: #fff;
    }
  }
  b {
    visibility: hidden;
    &.uac-visible {
      visibility: visible;
    }
    &.uac-hidden {
      visibility: hidden;
    }
  }
  i {
    position: absolute;
    visibility: hidden;
    &.uac-in {
      position: relative;
      visibility: visible;
    }
  }

}
@keyframes uac-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  40% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}