// put some global class here ------
body,html{
  font-family: Lato,Helvetica Neue,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,Arial;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1,h2,h3,h4,h5,*{
  // really thin
  font-weight: 200;
}
::selection {
  // background: #44FFB4;
  background-color: map-get($color-green,'300');
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}
.overflow-hidden{
  overflow: hidden;
}
.hide{
  display:none;
}
.no-scroll{
  overflow:hidden;
}
.clearfix{
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.gf-card{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.05) 0 2px 3px 0;
  // border:solid 1px rgba(0, 0, 0, 0.12);  
}
// ------------------------
ul{
  padding:0;
  list-style: none;
}
a{
  color: #333;
  transition: color 0.3s ease;
  margin-left:5px;
  margin-right:5px;
  text-decoration: none;
  &:hover,&:focus,&.active{
    outline: none;
    border:none;
    color: map-get($color-green,'500');
  }
}
// ------------flex box---------
.flex-conainer{
  display: flex;
  &.flex-row{
    flex-direction: row;
  }
  &.flex-column{
    flex-direction: column;
  }
}
.flex{
  // flex:1 1 auto;
  // flex-grow:auto;
  flex:1;
  // 用下面参数指定自己的位置
  // align-self: auto | flex-start | flex-end | center | baseline | stretch;
}
// older version, what i used before, put it here 以防万一
.flex-grid {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  min-height: 200px;
}
.flex-grid .fluid {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1; 
  flex: 1;
}
// -----------------
// -======================================= center an div =============
  /* This parent can be any width and height */
  .gf-centered-wraper {
    text-align: center;
  }
  /* The ghost, nudged to maintain perfect centering */
  .gf-centered-wraper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  /* The element to be centered, can
     also be of any width and height */ 
  .gf-centered {
    display: inline-block;
    vertical-align: middle;
    max-width: 95%;
  }

// ------------flex box---------
.flex-conainer{
  display: flex;
  &.flex-row{
    flex-direction: row;
  }
  &.flex-column{
    flex-direction: column;
  }
}
.flex{
  // flex:1 1 auto;
  // flex-grow:auto;
  flex:1;
  // 用下面参数指定自己的位置
  // align-self: auto | flex-start | flex-end | center | baseline | stretch;
}
// older version, what i used before, put it here 以防万一
.flex-grid {
  display: flex;
  min-height: 200px;
}
.fluid {
  flex: 1;
}

// ----------- scroll bar style ------------
// ----chrome---------
// ::-webkit-scrollbar
// {
//   width: 10px;  /* for vertical scrollbars */
//   height: 12px; /* for horizontal scrollbars */
// }

// ::-webkit-scrollbar-track
// {
//   background: rgba(0, 0, 0, 0.06);
// }

// ::-webkit-scrollbar-thumb
// {
//   background: rgba(0, 0, 0, 0.1);
// }

// -------------
.avatar{
  img,svg{
    width:100%;
  }
}

// =---------------------------------- nav and logo -------------
#gf-app{
  width:100%;
  height:100%;
}
#gf-main{
  width:100%;
  height: 100%;
  overflow:hidden;
  background-color: $body-bg;

  transition: margin-left 0.3s ease;
  &>section, .gf-view{
    width: 100%;
    height:100%;
    overflow-y: auto;
    // clearfix
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }
    &:after {
      clear: both;
    }

  }
}
#gf-logo{
  z-index: $index-logo;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 200px;
}
#gf-nav-toggle{
  // position: static;
  position: absolute;
  z-index: $index-nav-toggle;
  top: 1em;
  right: 1.5em;
}
#gf-nav{
  position: absolute;
  right:-305px;
  top: 0;
  height: 100%;
  width: 300px;
  // background-color: map-get($color-teal,'500');
  background-color: #fff;
  // background-color:$blue_grey;
  color: #fff;
  box-shadow: -2px 0 6px rgba(0,0,0,0.1);

  transition: right 0.3s ease;
  #gf-nav-main-link{
    font-size: 2em;
    padding: 1em;
    li{
      margin-bottom: 0.2em;
    }
  }
}
#gf-nav-social-link{
  width: 100%;
  position:absolute;
  bottom:0;
  text-align: center;
  li{
    display: inline-block;
  }
}
// --------------- side nav open and close ----
#gf-app.show-nav{
    #gf-nav{
      right:0;
    }
    #gf-main{
       margin-left: -100px;
    }
}
