@import '_var.scss';
@import '_color_palette.scss';
@import '_mixins.scss';
@import 'reset.scss';
@import 'layout.scss';
@import 'animation.scss';


@import 'common_style.scss';
@import 'buttons.scss';
@import 'plugins.scss';

@import 'component/intro.scss';
@import 'component/about.scss';
@import 'component/portfolio.scss';
@import 'component/grid.scss';
@import 'component/projects.scss';
@import 'component/project.scss';
@import 'component/ideas.scss';
@import 'component/blog.scss';
@import 'component/contact.scss';