.dragdealer {
  position: relative;
  height: 30px;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
}
.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.dragdealer .disabled {
  background: #898989;
}
// ------------------