<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="eisneim" />
		<meta name="description" content="Freelance Web developer, motion graphics artist, visual effects artist living in Shanghai,China" />
		<meta name="keywords" content="portfolio,freelance artist,Web design,Web development,motion graphics,parkour,freerunning" />

		<link rel="stylesheet" href="css/main.css">
		<script src="lib/modernizr.js"></script>
		<link rel="shortcut icon" href="img/favicon.png">
		<title>gortfolio installation</title>

	</head>
	<body>
		<div class="container">
			<form action="/v1/">
				<label for="siteName">Site Name</label>
				<input type="text" id="siteName" name="name"/>
				<br>
				<label for="username">User Name</label>
				<input type="text" id="username" name="username"/>
				<br>
				<label for="email">Email</label>
				<input type="text" id="email" name="email"/>
				<br>
				<label for="password">Password</label>
				<input type="text" id="password" name="password"/>
				
				<input type="submit" value="Let's Do It!">
			</form>	
		</div>

	</body>
</html>

