#gf-contact{
	width:100%;
	height: 100%;
	overflow-y:auto;
	em{
		color: map-get($color-blue-grey,'400');
		font-weight: bold;
	}
	.social-link{
		width: 40%;
		height: 100%;
		background:url('../img/cover/contact.jpg') center center no-repeat;
		background-size: cover;
		position:relative;
		.links{
			position:absolute;
			bottom: 2em;
			width: 100%;
			text-align: center;
		}	
		.link-icon{
			display:inline-block;
			width: 4em;
			height: 4em;
			border-radius: 2em;
			background-size:cover;
			background-position: center center;
			background-repeat: no-repeat;
			opacity:0.5;
			transition: opacity 0.3s ease-out;
			&:hover{
				opacity: 1;
			}
		}
		.icon-github{
				background-image:url(../img/social/github.png);
		}	
		.icon-sc{
				background-image:url(../img/social/sc.png);
		}	
		.icon-fb{
				background-image:url(../img/social/facebook-icon.png);
		}	
		.icon-be{
				background-image:url(../img/social/be.png);
		}
		.icon-weibo{
				background-image:url(../img/social/Sina_Weibo-512.png);
		}	
		.icon-zhihu{
				background-image:url(../img/social/zhihu.png);
		}	
	}
	.contact-form{
		background-color: #ddd;
		padding: 100px 40px;
		font-size: 20px;
		// background: #743;
		color: #666;
		.btn-ghost{
			color: #666;
			border-color: #666;
			margin-top: 20px;
			margin-right: 20px;
			&:hover{
				border-color: #999;
			}
		}
	}
	.formNotify{
		color: #fff;
		p{
			padding:15px 10px;
			border-radius: 3px;
		}
		.err{
			background-color: map-get($color-red,'400');
		}
		.info{
			background-color: map-get($color-green,'400');
		}
	}
}