.gf-grid{
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: 10px;
	.gf-grid-item{
		display: block;
		position: absolute;
		height: auto;
		margin:0;
		padding:0;

		background-color: map-get($color-teal,'500');
		// transition here
		transition: top 0.4s ease, left 0.4s ease,width 0.3s ease-out, height 0.3s ease-out;
	}
	.gf-grid-item-inner{
		width: 100%;
		height: 100%;
	}
}