#gf-intro{
	background-color: $darker_blue ;
	background-image: url('../img/cover/intro.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.gf-centered-wraper{
		position:relative;
		z-index: 3;
		height: 100%;
		max-width:800px;
		width: 90%;
		// float: right;
	}
	header{
		color: #fff;
		text-align: left;
		font-style: italic;
		h1,h2{
			text-transform: uppercase;margin:0;
		}
		h1{
			font-size: 6em;
		}
		h2{
			font-size: 5em;
		}
		h3{
			font-size: 3em;
			margin: 0;
		}
	}
	#video_background {
		position: absolute;
		top: 0px;
		left: 0px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		// z-index: -1000;
		overflow: hidden;
	}
}

