#gf-portfolio{
	.portfolio-item{
		display: block;
		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
		background-size: cover;
		background-position: center center;
	}
	&.showItem{
		overflow: hidden;
		.gf-grid{
			// overflow: hidden;
		}
		.gf-grid .gf-grid-item{
			
		}
	}
}
#gf-portfolio-item{
	width:0;
	position: absolute;
	top:0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	&.show{
		z-index: 11;
		visibility:visible;
		width: 100%;
		height: 100%;
		overflow-y:auto;
		opacity: 1;
		transition: visibility 0s 0.8s,opacity 0.4s 0.8s;
	}
	&>.close-btn{
		position: fixed;
		top: 30px;
		right: 120px;
	}
	header{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		// background-attachment: fixed;
		margin:0;
		padding:0;
	}
	.portfolio-content{
		background-color: #fff;
		color: #666;
		font-size: 20px;
		h1{font-size:2.5em;}
		h2{font-size:2.1em;}
		h3{font-size:1.8em;}
		h4{font-size:1.5em;}
		h5{font-size:1.2em;}
		img{
			max-width: 100%;
		}
	}
}