#gf-portfolio{
	.portfolio-item{
		display: block;
		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
		background-size: cover;
		background-position: center center;
	}
}
#gf-portfolio-item{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	visibility: hidden;
	&.show{
		visibility:visible;
	}
}