#gf-portfolio{
	.portfolio-item{
		display: block;
		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
		background-size: cover;
		background-position: center center;
	}
	&.showItem{
		overflow: hidden;
	}
}
#gf-portfolio-item{
	width:0;
	position: absolute;
	top:0;
	left: 0;
	visibility: hidden;
	&.show{
		z-index: 11;
		visibility:visible;
		width: 100%;
		height: 100%;
	}
}